<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.SharpZipLib.Patched" version="0.86.4" targetFramework="net45" />
  <package id="Iteedee.ApkReader" version="1.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="RestEase" version="1.0.3" targetFramework="net45" />
</packages>