<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assisticant" version="1.1.4" targetFramework="net45" />
  <package id="Assisticant.Facades" version="1.1.0.0" targetFramework="net45" />
  <package id="AurelienRibon.Ui.SyntaxHighlightBox" version="2.0.2" targetFramework="net45" />
  <package id="Extensions.Wpf" version="1.0.5241.30077" targetFramework="net45" />
  <package id="Fluent.Ribbon" version="3.6.0.221" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Toastinet" version="2.8" targetFramework="net45" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net45" />
</packages>