<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SGAM.Elfec.Settings.Properties.SGAM" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SGAM.Elfec.Settings.Properties.Window" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SGAM.Elfec.Settings.Properties.SGAM>
            <setting name="BaseURL" serializeAs="String">
                <value>http://192.168.50.56:3000</value>
            </setting>
            <setting name="BaseApiURL" serializeAs="String">
                <value>http://192.168.50.56:3000/api/</value>
            </setting>
        </SGAM.Elfec.Settings.Properties.SGAM>
    </applicationSettings>
    <userSettings>
        <SGAM.Elfec.Settings.Properties.Window>
            <setting name="Height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>200</value>
            </setting>
        </SGAM.Elfec.Settings.Properties.Window>
    </userSettings>
</configuration>