<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SGAM.Elfec.Settings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SGAM.Elfec.Settings.Properties.Settings>
            <setting name="BaseURL" serializeAs="String">
                <value>http://192.168.50.56:3000</value>
            </setting>
        </SGAM.Elfec.Settings.Properties.Settings>
    </applicationSettings>
</configuration>